.App {

  background: url('/src/background/background_main.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   height: 100%;
}


.loginApp{
  width: 40%;
  height: 20%;
  background: chartreuse;
}

.formLogin{
  display: flex;
  flex-wrap: wrap;

}

.formLogin input{
  margin: 2px 5px;
}

.formLogin button{
  padding: 5px 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}